 *{
   margin: 5px;
 }

  .movie-poster{
  object-fit:cover;
  height: 300px;
  width: 200px;
  border: 3px solid burlywood;
  border-radius: 5px;
}
.mini-container{
  color: #ecb210;
}

.heading{
  color: #e2740d;
  font-size: 70px;
}
.movie-name,
.movie-rating,
.movie-summary,
.movie-director{
  font-family: 'Poppins';
  letter-spacing: 1px;
  font-weight:2px;
  align-items: center;
  color: black;

}
.movie-rating{
  color: #ecb210;
  letter-spacing: 3px;
  
  
}
.body{

  display: flex;
  flex-direction: row;
 background-image: url("https://live.staticflickr.com/5104/5629932264_94174f2184_b.jpg");
 align-items: center;
}

span{
  color: gold; 
}
span:hover{
  transform:scale(1.4) ;
}
b{
  color: rgb(55, 9, 129);
}
